{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Default</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Author: Lena Voytek">

        <link rel="icon" href="{% static 'images/logo.png' %}">

        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla_framework_version_4_48_0_min.css" />

        {% block includes %}{% endblock %}
    </head>
    <body>
        <div class="l-application" role="presentation">
            <div class="l-navigation-bar">
                <div class="p-panel is-dark">
                    <div class="p-panel__header">
                        <div class="p-navigation__tagged-logo">
                            <a class="p-navigation__link" href="/">
                                <div class="p-navigation__logo-tag" style="background: #900134">
                                    <img class="p-navigation__logo-icon" src="/static/images/pinot-noir-tag.svg" alt="PN">
                                </div>
                                <span class="p-navigation__logo-title">Pinot Noir</span>
                            </a>
                        </div>
                        <div class="p-panel__controls">
                            <span class="p-panel__toggle js-menu-toggle">Menu</span>
                        </div>
                    </div>
                </div>
            </div>

            <header class="l-navigation is-collapsed">
                <div class="l-navigation__drawer">
                    <div class="p-panel is-dark">
                        <div class="p-panel__header is-sticky">
                            <div class="p-navigation__tagged-logo">
                                <a class="p-navigation__link" href="/">
                                    <div class="p-navigation__logo-tag" style="background: #900134">
                                        <img class="p-navigation__logo-icon" src="/static/images/pinot-noir-tag.svg" alt="PN">
                                    </div>
                                    <span class="p-navigation__logo-title">Pinot Noir</span>
                                </a>
                            </div>
                            <div class="p-panel__controls u-hide--large">
                                <button class="p-button--base is-dark has-icon u-no-margin u-hide--medium js-menu-close"><i class="is-light p-icon--close"></i></button>
                                <button class="p-button--base is-dark has-icon u-no-margin u-hide--small js-menu-pin"><i class="is-light p-icon--pin"></i></button>
                            </div>
                        </div>
                        <div class="p-panel__content">
                            <div class="p-side-navigation--icons" id="drawer-icons">
                                <nav aria-label="Main">
                                    <ul class="p-side-navigation__list">
                                        <li class="p-side-navigation__item">
                                            <a class="p-side-navigation__link" href="/merges-schedule"><i class="p-icon--circle-of-friends is-light p-side-navigation__icon"></i><span class="p-side-navigation__label">Merge Schedule</span></a>
                                        </li>
                                        <li class="p-side-navigation__item">
                                            <a class="p-side-navigation__link" href="/reviews"><i class="p-icon--circle-of-friends is-light p-side-navigation__icon"></i><span class="p-side-navigation__label">Reviews</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
