{% extends 'base.html' %}

{% block title %}<title>{{ title|default:'Merge Schedule' }}</title>{% endblock %}

{% block content %}
<div class="p-panel__header page-header">
    <div class="page-header__left">
        <h1 class="p-heading--4 u-no-margin--bottom">
            <div class="help-link">{{ title }}</div>
        </h1>
    </div>
    <div class="page-header__base-actions">
        <button class="p-button--positive has-icon u-float-right u-no-margin--bottom" title="">
            <i class="p-icon--plus is-light"></i><span>Create merge</span>
        </button>
    </div>
</div>
<div class="p-panel__content detail-page">
    <div class="row">
        <table aria-label="Merges Status">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Type</th>
                    <th>Assignee</th>
                    <th class="u-align--right">Milestone</th>
                    <th class="u-align--center">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for merge in merges %}
                <tr>
                    <th class="u-truncate">
                        <a href="https://bugs.launchpad.net/ubuntu/+bug/{{ merge.lp_bug }}" target="_blank" rel="noopener noreferrer">{{ merge.package }}</a>
                    </th>
                    <td>{{ merge.merge_type }}</td>
                    <td>
                        {% if merge.assignee %}
                            <a href="https://launchpad.net/~{{ merge.assignee }}" target="_blank" rel="noopener noreferrer">{{ merge.assignee }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td class="u-align--right">{{ merge.milestone }}</td>
                    <td class="u-align--center">
                        {% if merge.status == "done" %}
                            <span class="p-chip--positive">{{ merge.status }}</span>
                        {% elif merge.status == "started" %}
                            <span class="p-chip--caution">{{ merge.status }}</span>
                        {% elif merge.status == "projected" %}
                            <span class="p-chip--info">{{ merge.status }}</span>
                        {% else %}
                            <span class="p-chip">{{ merge.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No merges scheduled.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
