{% extends 'base.html' %}

{% load static %}

{% block title %}<title>{{ title|default:'Merge Schedule' }}</title>{% endblock %}

{% block includes %}
<script src="{% static 'scripts/tablesorting.js' %}"></script>
<script src="{% static 'scripts/searchandfilter.js' %}"></script>
<script src="{% static 'scripts/createmergepanel.js' %}"></script>
{% endblock %}

{% block content %}
<main id="main-content" class="l-main">
    <div class="p-panel">
        <div class="p-panel__header">
            <h4 class="p-panel__title u-no-margin--bottom" style="margin-right: 2rem;">{{ title }}</h4>

            <!-- Search & filter bar -->
            <div class="p-search-and-filter u-no-padding--bottom" style="width: 35vw; height: 100%; padding-top: 1rem;">
                <div class="p-search-and-filter__search-container" aria-expanded="false" data-active="false" data-empty="true">
                    <div class="p-search-and-filter__selected-chips"></div>
                    <form class="p-search-and-filter__box" data-overflowing="false" onsubmit="return false;">
                        <label class="u-off-screen" for="search">Search and filter</label>
                        <input autocomplete="off" class="p-search-and-filter__input" id="search" name="search" placeholder="Search and filter" type="search" value="">
                        <button alt="search" class="p-search-and-filter__search-button" type="submit">Search</button>
                    </form>
                </div>
                <div class="p-search-and-filter__panel" aria-hidden="true">
                    <div class="p-filter-panel-section">
                        <h5 class="p-filter-panel-section__heading">Milestone</h5>
                        <div class="p-filter-panel-section__chips" aria-expanded="false">
                            {% for milestone in milestones %}
                            <button type="button" class="p-chip" data-filter-type="milestone" data-filter-value="{{ milestone }}"><span class="p-chip__lead">MILESTONE</span><span class="p-chip__value">{{ milestone }}</span></button><!--
                            -->{% endfor %}
                        </div>
                    </div>

                    <div class="p-filter-panel-section">
                        <h5 class="p-filter-panel-section__heading">Status</h5>
                        <div class="p-filter-panel-section__chips" aria-expanded="false">
                            {% for status in statuses %}
                            <button type="button" class="p-chip" data-filter-type="status" data-filter-value="{{ status }}"><span class="p-chip__lead">STATUS</span><span class="p-chip__value">{{ status }}</span></button><!--
                            -->{% endfor %}
                        </div>
                    </div>

                    <div class="p-filter-panel-section">
                        <h5 class="p-filter-panel-section__heading">Assignee</h5>
                        <div class="p-filter-panel-section__chips" aria-expanded="false">
                            {% for assignee in assignees %}
                            <button type="button" class="p-chip" data-filter-type="assignee" data-filter-value="{{ assignee }}"><span class="p-chip__lead">OWNER</span><span class="p-chip__value">{{ assignee }}</span></button><!--
                            -->{% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-panel__controls">
                <button type="button" class="p-button--positive u-no-margin--bottom js-aside-open" title="Create a new merge">
                    <i class="p-icon--plus is-light"></i> <span>Create merge</span>
                </button>
            </div>
        </div>
        <div class="p-panel__content">
            <div class="u-fixed-width">
                <table aria-label="Merges Status">
                    <thead>
                        <tr>
                            <th aria-sort="none">Package</th>
                            <th aria-sort="none">Milestone</th>
                            <th aria-sort="none">Type</th>
                            <th aria-sort="none">Assignee</th>
                            <th class="u-align--center" aria-sort="none">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for merge in merges %}
                        <tr>
                            <th class="u-truncate">
                                <a href="https://bugs.launchpad.net/ubuntu/+bug/{{ merge.lp_bug }}" target="_blank" rel="noopener noreferrer">{{ merge.package }}</a>
                            </th>
                            <td>{{ merge.milestone }}</td>
                            <td>{{ merge.merge_type }}</td>
                            <td>
                                {% if merge.assignee_user %}
                                    {% if merge.assignee_user.email_md5 %}
                                        <img src="{{ merge.assignee_user.gravatar_url }}" alt="{{ merge.assignee_user.username }}" width="24" height="24" style="clip-path: ellipse(42% 50% at 50% 50%);" />
                                    {% endif %}
                                    <a href="https://launchpad.net/~{{ merge.assignee_user.username }}" target="_blank" rel="noopener noreferrer">{{ merge.assignee_user.username }}</a>
                                {% elif merge.assignee %}
                                    <a href="https://launchpad.net/~{{ merge.assignee|lower }}" target="_blank" rel="noopener noreferrer">{{ merge.assignee }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </td>
                            <td class="u-align--center">
                                {% if merge.status == "done" %}
                                    <span class="p-chip--positive is-inline">{{ merge.status }}</span>
                                {% elif merge.status == "started" %}
                                    <span class="p-chip--information is-inline">{{ merge.status }}</span>
                                {% else %}
                                    <span class="p-chip is-inline">{{ merge.status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <!-- No merges are found in the database. -->
                        <tr>
                            <td colspan="5">No merges scheduled.</td>
                        </tr>
                        {% endfor %}
                        <!-- Row shown when no search results are found. Hidden by default. -->
                        <tr class="js-no-filter-results" hidden>
                            <td colspan="5">No matching merges found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<aside class="l-aside is-collapsed" id="aside-panel">
    <div class="p-panel">
        <div class="p-panel__header">
            <h4 class="p-panel__title">Create merge</h4>
            <div class="p-panel__controls">
                <button class="p-button--base js-aside-close u-no-margin--bottom" aria-label="Close create merge panel">
                    <i class="p-icon--close"></i>
                </button>
            </div>
        </div>
        <div class="p-panel__content">
            <form class="p-form p-form--stacked" id="create-merge-form">
                <div class="p-form__group row">
                    <div class="col-4">
                        <label for="merge-package" class="p-form__label is-required">Package Name</label>
                    </div>
                    <div class="col-8">
                        <div class="p-form__control">
                            <input type="text" id="merge-package" name="package" required="">
                        </div>
                    </div>
                </div>
                <div class="p-form__group row">
                    <div class="col-4">
                        <label for="merge-milestone" class="p-form__label">Milestone</label>
                    </div>
                    <div class="col-8">
                        <div class="p-form__control">
                            <select id="merge-milestone" name="milestone">
                                <option value="">None</option>
                                {% for milestone in milestones %}
                                    {% if milestone != "TBD" %}
                                <option value="{{ milestone }}">{{ milestone }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="p-form__group row">
                    <div class="col-4">
                        <label for="merge-assignee" class="p-form__label">Assignee</label>
                    </div>
                    <div class="col-8">
                        <div class="p-form__control">
                            <select id="merge-assignee" name="assignee">
                                <option value="">Unassigned</option>
                                {% for assignee in assignees %}
                                    {% if assignee != "UNASSIGNED" %}
                                <option value="{{ assignee }}">{{ assignee }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="p-form__group row">
                    <fieldset>
                        <legend class="is-required">Type</legend>
                        <label class="p-radio">
                            <input type="radio" class="p-radio__input" checked="" name="typeRadio" aria-labelledby="typeMerge">
                            <span class="p-radio__label" id="typeMerge">Merge</span>
                        </label>
                        <label class="p-radio">
                            <input type="radio" class="p-radio__input" name="typeRadio" aria-labelledby="typeBackport">
                            <span class="p-radio__label" id="typeBackport">Backport</span>
                        </label>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="p-button--positive u-float-right">Create merge</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
{% endblock %}
